<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div class="container my-4">
  <div layout:fragment="content">
    <h2>O nama 🐾</h2>
    <p>Dobrodošli na našu stranicu! 🎉 Mi smo tim zaljubljenika u pse 🐶 koji se brine da vaša potraga za savršenim ljubimcem bude sigurna i bez stresa.</p>

    <p>Naša misija je jednostavna: provjeravamo registraciju uzgajivača pasa 🐕 u Hrvatskom kinološkom savezu (HKS) kako bismo osigurali da su uzgajivači s kojima surađujete pouzdani i da su njihovi psi uzgojeni u skladu s najvišim standardima. 🏆</p>

    <p>Znamo koliko je važno da vaš novi četveronožni prijatelj 🐾 dođe iz sigurnog i odgovornog uzgoja. Zato smo tu da vam pomognemo u svakom koraku! 💌</p>

    <p>Ako imate bilo kakvih pitanja ili trebate savjet, slobodno nam se obratite. 😊 Rado ćemo vam pomoći!</p>

    <p>Hvala vam što nam vjerujete u pronalasku najboljeg prijatelja za vas i vašu obitelj! ❤️</p>
  </div>
</div>
</body>
</html>
