<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<style>
  .table img {
    transition: transform 0.3s ease;
  }
  .table img:hover {
    transform: scale(1.1);
  }
</style>

<body>
<div class="container my-4">
<div layout:fragment="content">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Breed Name</th>
      <th>Avg Weight Female</th>
      <th>Avg Weight Male</th>
      <th>Description</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dog : ${dogs}">
      <td th:text="${dog.breedName}"></td>
      <td th:text="${dog.avgWeightFemale}"></td>
      <td th:text="${dog.avgWeightMale}"></td>
      <td th:text="${dog.description}"></td>
      <td><img th:src="${dog.image}" alt="Dog Image" style="max-width: 80px; max-height: 80px; border-radius: 50%; object-fit: cover;" /></td>
      <td>
        <a th:href="@{/breederOfDog(dogName=${dog.breedName})}" class="btn btn-primary">
          See Breeders
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>
